.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.dropdown-toggle::after {
  display: none !important; 
}

.links {
  text-decoration: none !important;
}

.menu-h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.menu-h1:hover {
  color: #ffffff;
  transition: all 0.5s;
}

/* 
.h1-div {
  color: black;
}

.menu-h1 {
  cursor: pointer;
  text-decoration: none;
}

.layout {
  color:#393a44;
} */